* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #000;
}

.clock-col {
    background-color: #000;
    color: #fff;
    border: 10px solid #fff;
    box-shadow: 0px 0px 20px 5px #fff;
    border-radius: 50%;
}

.clock-heading {
    color: #0000ff;
    text-shadow: 1px 1px 3px #ff0000;
}

.clock {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Mina', sans-serif; */
    font-family: monospace !important;
    color: #fff;
    text-shadow: 5px 5px 10px #0000ff;
    font-family: 'Satisfy', cursive;
}